APP_PORT=3000
POSTGRES_PORT=5432
DATABASE_HOST=localhost
POSTGRES_DB=f1_scoreboard
POSTGRES_USER=f1_scoreboard
POSTGRES_PASSWORD=kies-een-sterk-wachtwoord
APP_URL=http://localhost:3000
ADMIN_SESSION_TOKEN=vervang-dit-met-een-lange-random-string
